html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: white;;
	text-decoration: none;
	transition: color 0.3s ease;
}



.content-title {

         text-align: center;
         font-size: 30px;
         font-weight: 700;
         margin-bottom: 20px;
}


.big-title {
	text-align: center;
}
.content {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.big-paragraph {
	text-align: center;
	
}
.text-picture-container {
	box-sizing: border-box;
	padding: 90px;
	width: 80%;
	align-self: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	background-color: lightgrey;
}


a:hover {
	color: lightblue;
}

a:visited {
	color: white;

	transition: color 0.2s ease;
}

a:visited:hover {
	color: lightblue;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

.big-title {
	font-size: 36px; /* Large font size for the title */
    color: #333; /* Dark color for text */
    text-align: center; /* Center align the title */
    margin-top: 20px; /* Add some space at the top */
    margin-bottom: 10px; /* Add some space at the bottom */
    font-family: 'Arial', sans-serif; /* Font style */
}

.big-paragraph {
	font-size: 18px; /* Slightly larger font size for readability */
    color: #555; /* Slightly lighter color than the title */
    text-align: center; /* Justify align for better readability in paragraphs */
    line-height: 1.6; /* Space between lines */
    margin: 0 20px; /* Margin on left and right for better spacing */
    font-family: 'Times New Roman', serif;
}


button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
